[Unit]
Description=Magic Ink Calendar
After=network.target

[Service]
ExecStart=/home/pi/inkal/shell/startup.sh
User=pi

[Install]
WantedBy=multi-user.target