[Unit]
Description=Run Magic Ink Calendar every hour

[Install]
WantedBy=timers.target

[Unit]
Description=Magic Ink Calendar
After=network.target

[Service]
ExecStart=/home/pi/inkal/shell/startup.sh
Restart=always
User=pi

[Install]
WantedBy=multi-user.target