/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.clearfix::after,

:root {
    --red: #ff0000 ;
    --white: #fff;
    --gray: #7f7f7f;
    --black: #000;
}

.text-uppercase {
    text-transform: uppercase!important;
}

.mb-0, .my-0 {
    margin-top: 0;
    margin-bottom: 0!important;
}

.p-3 {
    padding: 1rem!important;
}

.text-center {
    text-align: center!important;
}

.font-weight-bold {
    font-weight: 700!important;
}

.text-muted {
    color: var(--gray);
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--black);
    text-align: left;
    background-color: var(--white);
}

@font-face {
    font-family: "Quattrocento-Bold";
    src: url('Quattrocento-Bold.ttf');
}

@font-face {
    font-family: "Quattrocento-Regular";
    src: url('Quattrocento-Regular.ttf');
}

.container {
    width: 100%;
    padding: 0!important;
    margin: 0!important;
    /* max-width: 984px; */
    /* height: 1304px; */
    max-width: 1304px;
    height: 984px; 
}
*, ::after, ::before {
    box-sizing: border-box;
}

/* ================
Calendar Styling */
.weekday {
  margin-bottom: 25px;
}

.calendar {
  border-radius: 0px;
}

.task {
  display: flex;

  &.completed{
    text-decoration: line-through;
  }
}

.days {
  min-height: 90px;
}

.past > * {
  display: none !important;
}

.future > * {
  color: var(--gray);
  font-weight: unset !important;
}

.event {
  display: flex;
  word-break: break-word;
}

.time {
  display: flex;
  justify-content: flex-end;
  
  min-width: 32px;
  margin-right: 8px;
}

.event-prefix,
.task-prefix {
  min-width: 32px;
  margin-right: 8px;
  font-family: monospace;
}

.grid__item {
  overflow: hidden;
  min-height: 150px;
}

.minute {
  font-size: 12px;
}

.month {
  font-size: 7rem;
  line-height: 7rem;
  /* font-family: "Quattrocento-Regular"; */
}

.calendar .day-names {
  font-size: 2.5rem;
  /* font-family: "Quattrocento-Regular"; */
}


.calendar .date {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  /* font-family: "Quattrocento-Regular"; */
}

.datecirclebox {
    position: relative;
}

.datecircle {
    margin: 0rem auto;
    width:4rem;
    height:4rem;
    border-radius:2rem;
    /* font-family: "Quattrocento-Regular"; */
    font-size:3rem;
    color: var(--white);
    line-height: 4rem;
    text-align:center;
    vertical-align: middle;
    background: var(--red);
}

.text-multiday {
  text-overflow: '...」'!important;
}

div.batt_container {
  width: 53px;
  height: 27px;
  position: absolute;
  top: 5;
  left: 925;
  overflow: hidden;
}

div.batt_container  {
  z-index: 10;
}

div.batt_container .battery80 {
  position: relative;
  left: 0px;
  top: 0px;
}

div.batt_container .battery60 {
  position: relative;
  left: 0px;
  top: -44px;
}

div.batt_container .battery40 {
  position: relative;
  left: 0px;
  top: -89px;
}

div.batt_container .battery20 {
  position: relative;
  left: 0px;
  top: -134px;
}

div.batt_container .battery0 {
  position: relative;
  left: 0px;
  top: -178px;
}

div.batt_container .batteryHide {
    display: none;
}

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
body {
  min-height: 100vh;
  background-color: var(--white);
}
